.blog-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    .image {
        width: 15rem;
        height: 15rem;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        overflow: hidden;
        .img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @media screen and (min-width:64rem){
            width: 20rem;
            height: 20rem;
        }
    }
    .card-content {
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;
        text-align: center;
        h3 {
            text-wrap: balance;
            font-size: 1.4rem;   
        }
        p {
            max-width: 32rem;
        }
        .btn-card {
            color: var(--primary);
            padding-block: 0.5em;
        }
        @media screen and (min-width:48rem){
            align-items: flex-start;
            text-align: left;
        }
    }
    @media screen and (min-width:48rem) {
        flex-direction: row;
        justify-content: center;
        gap: 10rem;
        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }
}