.section-heading {
    font-family: 'Recoleta';
    letter-spacing: 2px;
    font-size: 2rem;
    text-wrap: balance;
    margin-block: 3.5em;
    color: var(--clr-heading);
    text-align: center;
    @media screen and (max-width:48rem) {
        margin-block: 1.7em;
    }
}