.hero-container {
    margin-top: 5em;
    gap: 5rem;
    position: relative;
    .left {
        display: grid;
        align-content: center;
        .hello {
            font-size: 1.125rem;
            color: var(--clr-text);
            font-weight: 500;
        }
        .heading-name {
            font-family: 'Recoleta';
            font-size: 3.125rem;
            margin: 0.2em 0;
            letter-spacing: 0.2rem;
            color: var(--primary);
            line-height: 1;
            @media screen and (max-width:24.75rem) {
               line-height: 1.2;
            }
        }
        .title {
            text-transform: uppercase;
            font-weight: 700;
        }
        .cta {
            gap: 1rem;
            margin: 3em 0;
            align-items: center;
            text-transform: uppercase;
            font-weight: 500;
            .btn {
                font-size: 0.875rem;
                @media screen and (max-width:62rem) {
                    font-size: 0.7rem;
                }
                @media screen and (max-width:48rem) {
                    font-size: 0.85rem;
                }
            }
            @media screen and (max-width:48rem) {
                justify-content: center;
            }
            @media screen and (max-width:23.25rem) {
                flex-direction: column;
            }
        }
        .socials {
            align-items: center;
            gap: 1.5rem;
            .social-icon {
                height: 2.5rem;
                width: 2.5rem;
                border: 1px solid var(--primary);
                display: flex;
                align-items: center;
                justify-content: center;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                border-radius: 50%;
                svg {
                    color: var(--primary);
                    font-size: 0.875rem;
                }
                &:hover {
                    border: none;
                    background-color: var(--primary);
                    svg {
                        color: var(--bg500);
                    }
                }
            }
            @media screen and (max-width:48rem) {
                justify-content: center;
            }
        }
    }
    .right {
        .prof-pic {
            overflow: hidden;
            -webkit-border-radius: 0 7rem 0 7rem;
            -moz-border-radius: 0 7rem 0 7rem;
            -ms-border-radius: 0 7rem 0 7rem;
            -o-border-radius: 0 7rem 0 7rem;
            border-radius: 0 7rem 0 7rem;
            padding-top: 1em;
            .pro-image {
                width: 80%;
                height: 80%;
                object-fit: cover;
            }
            @media screen and (max-width:31.25rem) {
                border-radius: 0 5rem 0 5rem;
                -webkit-border-radius: 0 5rem 0 5rem;
                -moz-border-radius: 0 5rem 0 5rem;
                -ms-border-radius: 0 5rem 0 5rem;
                -o-border-radius: 0 5rem 0 5rem;
            }
            &.light {
                background: var(--btn-clr);
            }
            &.dark {
                background: var(--bg400);
            }
        }
        .media {
            position: absolute;
            right: 0;
            top: 0;
            display: grid;
            height: 100%;
            width: 2rem;
            svg {
                font-size: 3rem;
            }
            @media screen and (max-width:65.375rem) {
                display: none;
            }
        }
    }
    @media screen and (max-width:48rem) {
        flex-direction: column-reverse;
        gap: 3rem;
        margin-top: 0;
        text-align: center;
    }
}