.main {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--bg400);
  color: var(--clr-text);
  font-size: 0.875rem;
  line-height: 1.6;
  width: 100%;
  section {
    padding-block: 5em;
    @media screen and (max-width:48rem) {
      &:not(:first-child){
        padding-block: 2em;
      }
    }
    &:nth-child(odd){
      background-color: var(--bg500);
    }
  }
}



