.page-header {
    -webkit-border-radius: 0 0 5em 5em;
    -moz-border-radius: 0 0 5em 5em;
    -ms-border-radius: 0 0 5em 5em;
    -o-border-radius: 0 0 5em 5em;
    border-radius: 0 0 5em 5em;
    .header-container {
        padding-block: 7em;
        text-align: center;
        .page-title {
            font-family: 'Recoleta';
            margin-bottom: 1em;
    }
    .intro-statement {
        margin-inline: auto;
        max-width: 35rem;
    }
    }
    @media screen and (max-width:48rem) {
        -webkit-border-radius: 0 0 2em 2em;
        -moz-border-radius: 0 0 2em 2em;
        -ms-border-radius: 0 0 2em 2em;
        -o-border-radius: 0 0 2em 2em;
        border-radius: 0 0 2em 2em;
}
}