.services {
    background-color: var(--bg400);
    .service-content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 7em;
        flex-wrap: wrap;
        gap: 3rem;
    }
}